@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  min-height: 100%;
  background-color: #000000;
  background-image: url('/bg-full.png');
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
    min-height: 100dvh;
  background-color: transparent;
  color: var(--foreground);
}

@media (max-width: 768px) {
  html {
      background-size: 200px;
  }
}

@keyframes scanline {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

.retro-screen {
  position: relative;
  border-radius: 0.5rem;
  box-shadow:
    inset 0 0 50px rgba(0, 0, 0, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(0, 255, 0, 0.1);
}

.retro-screen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent 50%,
      rgba(0, 0, 0, 0.1) 50%);
  background-size: 100% 4px;
  pointer-events: none;
  border-radius: 0.5rem;
}

.retro-screen::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  animation: scanline 6s linear infinite;
  pointer-events: none;
  opacity: 0.5;
}